body {
	margin: 0;
	background-color: #f5f5f5;
}
.currency {
	padding: 0 10%;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5vh;
}
.row:first-child {
	margin-top: 5vh;
}
.input {
	box-sizing: border-box;
	width: 70%;
	height: calc(100vh / 3 * .7);
	padding: 0;
	border: 1px solid #000;
	background: none;
	text-align: center;
	font-size: 50px;
}
.nav {
	display: flex;
	flex-direction: column;
	width: 30%;
}
.get {
	width: 100%;
	height: calc(100vh / 3 * .7 * .7);
	padding: 0;
	border: 1px solid #000;
	border-width: 1px 1px 1px 0;
	font-size: 20px;
}
.clear {
	width: 100%;
	height: calc(100vh / 3 * .7 * .3);
	padding: 0;
	border: 1px solid #000;
	border-width: 0 1px 1px 0;
	font-size: 14px;
}
.result {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh / 3 * .7);
	border: 1px solid #000;
	font-size: 50px;
}

select {
	font-size: 25px;
}